[Unit]
Description=Flow
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/flow
ExecStart=/root/.bun/bin/bun run index.ts
Restart=on-failure

[Install]
WantedBy=multi-user.target